
.ancho-etiqueta {
    width: 100px;
}
.estilo-imagen {
    height: 290px;
}
.contenedor-letras-secreto {
    min-height: 45px;
}
.bg-morado {
    background: #612daf;
}
//Se realizan los cambios de estilo por clase
