.estilo-imagen {
    height: 290px;
}
.contenedor-letras-secreto {
    min-height: 45px;
}
.bg-morado {
    background: #612daf;
}
.ancho-etiqueta {
    width: 100px;
}

.ancho-boton {
    width: 100px;
}

